<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Stress Level Detection</title>
</head>
<body>
    <h1> This is the Stress Level Detection model</h1>

    <h2> Enter Values as mentioned: </h2>
    <form action="/" method="POST">
        <input type="number" name="MEAN_RR" placeholder = "MEAN_RR" step="any">
        

        <input type="number" name="RMSSD" placeholder = "RMSSD" step="any">
        

        <input type="number" name="pNN25" placeholder = "pNN25" step="any">
        

        <input type="number" name="pNN50" placeholder = "pNN50" step="any">
        

        <input type="number" name="LF" placeholder = "LF"  step="any">
        

        <input type="number" name="HF" placeholder = "HF" step="any">
        

        <input type="number" name="LF_HF" placeholder = "LF_HF" step="any">
        
        <input type="submit">
    </form>
    {% if cond %}
        <h2>Predicted Condtion: </h2>
        {{cond}}
    {% endif %}
    
</body>
</html>